form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: 2px solid black;
  box-shadow: .25rem .25rem .25rem grey;
}

select{
  font-size: 1.1rem;
  padding: .5rem;
}

input {
  font-size: 1.1rem;
  padding: .5rem;
}

input[type=text] {
  visibility: hidden;
}

input[type=button] {
  align-self: center;
}

.displayed {
  visibility: visible;
}