* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 .25rem .25rem grey;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 2px;
}

main {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-start-menu-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: 2px solid black;
  box-shadow: .25rem .25rem .25rem grey;
}

select{
  font-size: 1.1rem;
  padding: .5rem;
}

input {
  font-size: 1.1rem;
  padding: .5rem;
}

input[type=text] {
  visibility: hidden;
}

input[type=button] {
  align-self: center;
}

form .displayed {
  visibility: visible;
}

.invalid {
  border-color: red;
}

.gb-row {
  display: flex;
}

#game-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#opposing-player-gb .gb-cell {
  padding: .25rem;
  height: 1.75rem;
  width: 1.75rem;
  border: 1px solid black;
}

.gb-cell {
  padding: .1rem;
  height: 1rem;
  width: 1rem;
  border: .5px solid black;
}

.announcement-text-box {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

#announcement-text {
  font-size: 1.3rem;
  font-weight: 650;
  text-align: center;
}

.gb-label {
  font-weight: 650;
}

.gb-cell.hit {
  content: url('../assets/bomb-blast-icon.svg');
}

.gb-cell.miss{
  content: url('../assets/splash-icon.svg');
}

.gb-cell.occupied {
  background-color: grey;
}

#turn-transition-modal::backdrop {
  background-color: black;
}

dialog {
  margin: auto;
}

#turn-transition-modal form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#modal-text-box {
  font-size: 1.5rem;
  font-weight: 650;
  text-align: center;
}

.gb-coordinate-label {
  height: 1rem;
  width: 1rem;
  font-weight: 650;
  text-align: center;
  padding-bottom: .1rem;
}

#opposing-player-gb-container .gb-coordinate-label {
  height: 1.75rem;
  width: 1.75rem;
  font-weight: 650;
  font-size: 1.2rem;
  text-align: center;
  padding-top: .3rem;
}

.gb-container {
  display: grid;
}

.gb-col-labels {
  display: flex;
  grid-column: span 2;
  padding-left: 1px;
}

.gb-row-labels {
  display: flex;
  flex-direction: column;
}