* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 .25rem .25rem grey;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 2px;
}

main {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: 2px solid black;
  box-shadow: .25rem .25rem .25rem grey;
}

select{
  font-size: 1.1rem;
  padding: .5rem;
}

input {
  font-size: 1.1rem;
  padding: .5rem;
}

input[type=text] {
  visibility: hidden;
}

input[type=button] {
  align-self: center;
}

form .displayed {
  visibility: visible;
}

.invalid {
  border-color: red;
}

.gb-row {
  display: flex;
}

#game-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.gb-cell {
  padding: .25rem;
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

#resign-btn {
  margin-top: 2rem;
}

#announcement-text-box {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 650;
  text-align: center;
}

.gb-label {
  font-weight: 650;
  font-size: 1.2rem;
}

.gb-cell.hit {
  content: url('../assets/bomb-blast-icon.svg');
}

.gb-cell.miss{
  content: url('../assets/splash-icon.svg');
}

.gb-cell.occupied {
  background-color: grey;
}

#turn-transition-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
