.gb-row {
  display: flex;
}

#game-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.gb-cell {
  padding: .25rem;
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

#resign-btn {
  margin-top: 2rem;
}

#announcement-text-box {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: 650;
  text-align: center;
}

.gb-label {
  font-weight: 650;
  font-size: 1.2rem;
}

.gb-cell.hit {
  content: url('../assets/bomb-blast-icon.svg');
}

.gb-cell.miss{
  content: url('../assets/splash-icon.svg');
}

.gb-cell.occupied {
  background-color: grey;
}